html {
	background-color: #f1f1f1;
}

#logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 360px;
	background: url(http://cdn.arnoldclark.com/assets/images/template-sprite.png) no-repeat 0 10px;
	overflow: hidden;
	height: 48px;
}

#zoom {
	position: absolute;
	margin: 0 auto;
	background: url("../img/zoom.png") no-repeat 8px 8px;
	overflow: hidden;
	margin-top: 100px;
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0.0;
	-khtml-opacity: 0.0;
	opacity: 0.0;
	left: -100px;
	pointer-events: none;
}

#searchbar {
	width: 450px;
	margin: auto;
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
}

#searchbar label {
	color: #fff;
	font-size: 14px;
}

#searchbar input {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 3px #e3e3e3 inset;
	border: 1px solid #dedede;
	width: 196px;
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
	color: #808080;
	font-size: 14px;
}

#searchbar button {
	margin-top: 10px;
	margin-left: 110px;
	width: 200px;
	height: 40px;
}

.ui-button {
	background: #eee;
	border: 1px solid #aaa;
	color: #000000;
	display: inline-block;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 25px;
	line-height: 17px !important;
	margin: 0;
	min-width: 18px;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	width: auto;
	cursor: default;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 #ffffff;
	height: 28px;
	margin-left: 3px;
}

.ui-button {
	background-image: -moz-linear-gradient(100% 100% 90deg, #dfdfdf, #ffffff);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff),
		to(#dfdfdf) );
	background-image: -webkit-linear-gradient(#ffffff, #dfdfdf);
	background-image: -o-linear-gradient(#ffffff, #dfdfdf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#dfdfdf', GradientType=0 );
}

.ui-button:hover {
	border: 1px solid #000;
}

.ui-button:focus {
	outline: none;
	box-shadow: 0 0 2px 2px rgba(103, 150, 224, 0.8);
}

.ui-button:active {
	background: #dbdbdb;
}

.smallimg {
	margin: 5px;
	border: 1px solid #5B5B5B;
	cursor: pointer;
	display: inline-block;
}

.bigimg {
	visibility: hidden;
	position: absolute;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -400px;
	border: 1px solid #fff;
	cursor: pointer;
}

.message {
	padding: 10px;
	display: block;
}

#results {
	margin: auto;
	max-width: 1100px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	visibility: hidden;
	padding-top: 7px;
	padding-bottom: 5px;
	background-color: #C1C1C1;
}

#loading {
	width: 32px;
	height: 32px;
	margin: auto;
	display: block;
	visibility: hidden;
	margin-top: 50px;
}

#navigation {
	background-color: #057baf;
	-webkit-box-shadow: 0 0 10px 1px #000000;
	box-shadow: 0 0 10px 1px #000000;
	padding: 20px;
}

#content {
	position: absolute;
	background-color: #f1f1f1;
	height: 100%;
	width: 100%;
}

#close {
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -220px;
	margin-left: 330px;
	background: url("../img/close.png") no-repeat 4px 4px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	pointer-events: none;
	background-color: #fff;
}

#left {
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	margin-left: -390px;
	background: url("../img/left.png") no-repeat 4px 4px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	background-color: #fff;
	cursor: pointer;
}

#right {
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	margin-left: 350px;
	background: url("../img/right.png") no-repeat 4px 4px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	background-color: #fff;
	cursor: pointer;
}

.icon {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	overflow: hidden;
	height: 40px;
	display: block;
	padding: 0;
	width: 40px;
}